{% extends 'base.html.twig' %}

{% block title %}Edit Users{% endblock %}

{% block body %}
    <h1>Edit Users</h1>

    {{ include('useractive/_form.html.twig', {'button_label': 'Update'}) }}

    <table>
        <tr>
            <td>
                <a href="{{ path('users_active') }}">back to list</a>
            </td>
        </tr>
    </table>
{% endblock %}