{% extends 'base.html.twig' %}

{% block title %}Edit Users{% endblock %}

{% block body %}
    <h1>Edit Users</h1>

    {{ include('admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('active') }}">back to list</a>

{% endblock %}