{% extends "base.html.twig" %}

{% block body %}

    <h1>PANEL ADMIN</h1>

    <a href="{{ path('users_all') }}"> Voir tout les utilisateurs</a>
    <a href="{{ path('active') }}"> Voir utilisateur à activé </a>
    {#<a href=""> Voir tout les commentaires </a>
    <a href=""> Voir les commentaire à activé </a>#}

{% endblock %}