{% extends 'base.html.twig' %}

{% block title %}Edit Commentaire{% endblock %}

{% block body %}
    <h1>Edit Commentaire</h1>

    {{ include('comments/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('comments_all') }}">back to list</a>

    {{ include('comments/_delete_form.html.twig') }}
{% endblock %}
