{% extends 'base.html.twig' %}

{% block title %}Edit Users{% endblock %}

{% block body %}
    <h1>Edit Users</h1>

    {{ include('users/_form.html.twig', {'button_label': 'Update'}) }}
    <br>
    {{ include('users/_delete_form.html.twig') }}
    <table>
        <tr>
            <td>
                <a href="{{ path('users_all') }}">back to list</a>
            </td>
        </tr>
    </table>
{% endblock %}
